header{
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 5px;
    margin-bottom: 1rem;
  }

  img{
    width: 12.7rem;
    padding: 0px;
    margin: 0px;
    float: left;
    margin-left: 2rem;
  }

  @media (max-width: 764px) {
    img{
        width: 7rem;
    }
  }
  